.profile__edit-button {
  background: url(../../../images/Edit\ Button.svg) no-repeat center;
  cursor: pointer;
  height: 24px;
  width: 24px;
  padding: 0;
  transition: opacity 0.2s ease-in-out;
  border: 1px solid #ffffff;
  box-sizing: border-box;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}
