.mobile-menu__exit {
  margin: 0;
  padding-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
}

.mobile-menu__exit:hover {
  opacity: 0.6;
  cursor: pointer;
}